#selected-movie--dialog {
  width: 50rem;
  height: max-content;
  background-color: rgb(241, 241, 233);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  z-index: 999;
}

.iframe-trailer {
  display: none;
}

body.no-scroll {
  overflow: hidden;
}
