.cabecalho {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0.5rem 0;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.cabecalho h2 {
  user-select: none;
}

.options-header {
  width: 35rem;
}

.options-header ul {
  display: flex;
  justify-content: space-evenly;
}

.options-header li {
  text-decoration: none;
  list-style-type: none;
  padding: 1rem;
}

.link:hover {
  cursor: pointer;
}

.link label {
  pointer-events: none;
}

a:link {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  font-weight: inherit;
}

.generic-li {
  position: relative;
}

.generic-li::after {
  content: "";
  position: absolute;
  bottom: 8px;
  height: 2px;
  width: 100%;
  left: 0;
  background-color: #000;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

.generic-li:hover {
  cursor: pointer;
}

.generic-li:hover::after {
  transform: scaleX(1);
}

#user-login i {
  margin-left: 0.5rem;
}

#user-name:hover {
  cursor: pointer;
}

.gerenic-ul {
  width: 100%;
}

#search-button:hover {
  cursor: pointer;
}

#search-button {
  display: flex;
  flex-direction: row;
}

.label-visibility--search {
  margin-right: 0.5rem;
  opacity: 0.5;
  display: none;
  transition: 1.2s;
}

.label-visibility--active {
  display: block;
}

.logoff-button--hidden {
  display: none !important;
}

.fa-power-off:hover {
  cursor: pointer;
}

.dropdown--generic-li-label:hover {
  cursor: pointer;
}

.fa-chevron-down {
  margin-left: 0.5rem;
  pointer-events: none;
  opacity: 0.5;
}
