#selected-movie-dialog {
  width: 65%;
  height: max-content;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  z-index: 999;
}

.selected-movie--header {
  text-align: center;
  margin-bottom: 0.4rem;
}
#selected-movie--container {
  display: flex;
  flex-direction: row;
  flex: start;
  padding: 0.5em;
}

.selected-movie--container-img {
  margin-right: 0.4rem;
}

.selected-movie--img {
  border-right: 6px solid black;
  border-bottom: 3px solid black;
  width: 100%;
  height: 100%;
  width: 13rem;
  height: 20rem;
}

.selected-movie--details {
  width: 100%;
  height: max-content;
  margin-left: 0.5rem;
}

.border-line {
  content: "";
  margin: 0.5rem 0;
  border: 1px dashed black;
}

.selected-movie--overview {
  text-align: start;
  height: max-content;
}

.info-containers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "released score"
    "genres genres";
}

.released-container {
  grid-area: released;
}

.selected-score {
  width: 50%;
  grid-area: score;
  text-align: end;
}

.current-score {
  margin: 0.1rem;
}

.genres {
  width: 50%;
  margin-top: 0.5rem;
  grid-area: genres;
}

.selected-movie--more-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iframe-trailer {
  padding: 0.5em;
}
