.slider--home {
  position: fixed;
  width: 3rem;
  height: 3rem;
  bottom: 1rem;
  right: 0.5rem;
  border-radius: 35px;
  border: 1px black solid;
}

.clickable:hover {
  transition: 1s;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}

.label-hidden {
  visibility: hidden;
}
